<h1><i>{{image.title}}</i></h1>
<h2>by <a href="/user/{{image.username}}">{{image.username}}</a></h2>
<div>
  <img src='/images/uploads/{{image.path}}'' alt='An image.'/>
</div>
<p>{{image.uploadDateTime}}</p>
<h3>Comments</h3>
<div>
  <table>
    <tr>
      <th>Comment</th>
      <th>Time</th>
      <th>User</th>
    </tr>
    {{#comments}}
    <tr>
      <td>{{text}}</td>
      <td>{{postDateTime}}</td>
      <td><a href="/user/{{username}}">{{username}}</a></td>
    </tr>
    {{/comments}}
  </table>
</div>
<div>
  <form method='POST'>
    <div>
      <textarea placeholder='Add a comment...' name='text'></textarea>
    </div>
    <div>
      <input type='submit' value='Submit'></input>
    </div>
  </form>
</div>