<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' lang='en-GB' xml:lang='en-GB'>
<head>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
  <title>Share Images!</title>
  <!--stylesheets-->
  <link href='/stylesheets/style.css' rel='stylesheet' type='text/css'/>
  {{#stylesheets}}
  <link href='/stylesheets/{{href}}' rel='stylesheet' type='text/css'/>
  {{/stylesheets}}
  <!--scripts-->
  {{#scripts}}
  <script src='/scripts/{{src}}'></script>
  {{/scripts}}
</head>
<body>
  <header>
    <div><a id='home' href='/'>Share Images!</a></div>
    <div>
      <a href='/'>Home</a> | {{{account}}}
    </div>
  </header>
  <main>
    {{{content}}}
  </main>
  <footer>
    <p>Share Images! - 2019</p>
  </footer> 	
</body>
</html>