<h1>Login</h1>
<div>
  <form method='POST'>
    <div>
      username:<input type='text' name='username'></input>
    </div>
    <div>
      password:<input type='password' name='password'></input>
    </div>
    <div>
      <input type='submit' value='login'></input>
    </div>
  </form>
</div>