<h1>Upload an Image!</h1>
<form action='/upload/post-image' method='POST' enctype='multipart/form-data'>
  <div>
    Image title:
    <input type='text' name='image_title' maxlength="{{imageTitleMaxLength}}">
  </div>
  <div>
    <input type='file' name='image'>
  </div>
  <div>
    <input type='submit' value='Submit'>
  </div>
</form>