<h1>{{username}}</h1>
<h2>User Info:</h2>
<p>Joined: {{signupDateTime}}</p>
<h2>Uploaded Images:</h2>
<div id='images'>
  {{#images}}<a href='/image/{{imageID}}'>
    <div>
      <div><i>{{title}}</i></div>
      <div>by <b>{{username}}</b></div>
      <div class='image'><img src='/images/uploads/{{path}}' alt='{{alt}}'/></div>
    </div>
  </a>{{/images}}
</div>
<h2>Comments:</h2>
<div>
  <table>
    <tr>
      <th>Comment</th>
      <th>Time</th>
      <th>User</th>
    </tr>
    {{#comments}}
    <tr>
      <td>{{text}}</td>
      <td>{{postDateTime}}</td>
      <td><a href="/user/{{username}}">{{username}}</a></td>
    </tr>
    {{/comments}}
  </table>
</div>